@charset "UTF-8";

#banner {
    width: 100%;
    position:relative;
    
}

#banner  > img{
    

    filter: brightness(27%);
    height: 350px;
    width: 100%;
    object-fit: cover;

}

.texto-banner {
    color: white;
    padding: 10px;
    position: absolute;
    top:25%;
}

.texto-banner > p {
    margin-top: 10px;
}
.texto-banner > input {
    margin-top: -1px;
}

.texto-banner > h1 {
    font-size: 3em;
    color: var(--color2);
}

.texto-banner > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 20px;
}



