@charset "UTF-8";

section#trabalhos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#trabalhos > h1 {
    text-align: center;
    font-size: 1.7em;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color1);
    margin-bottom: 15px;
}
#carouselcortes  {
   
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
}

#carouselcortes > button {
    margin: 0 15px;
}

#carouselcortes> main > img {
    
    object-fit: cover;
    width: 250px;
    height: 300px;
    margin: 10px 0;

}