@charset "UTF-8";

footer {
    background-color: var(--color2);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.midia {
    display: flex;
    cursor: pointer;
    margin: 30px 0;
}
.midia > img {
    scale: 0.8;
}
.midia > p {
    vertical-align: middle;
    margin: auto 0px auto 15px;
    text-decoration: underline;
    font-size: 1.5em;
}

.midia > img, p {
    line-height: 0;
}