@charset "UTF-8";

section#historia {
    margin: 50px auto;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;

}


section#historia > h1 {
    font-size: 1.7em;
    color: var(--color3);
    text-align: center;
}

section#historia > main {
    margin:  0 auto;
    max-width: 600px;
}

section#historia > main > p {
    
    font-size: 1.2em;
    text-indent: 30px;
    text-align: justify;
    line-height: 25px;
}