@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Cores padrões*/ 
:root {
    --color1: #E998D6;
    --color2: #D897E8;
    --color3: #E897A4;
    --color4: #BD97E8;

    --font: "Playfair Display", serif;

}


/*Nav*/

nav {
    
    height: 100px;
    
    color: var(--color1);

    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
  
    display: flex;
    align-items: center;

    position: fixed;
    width: 100%;
    
}

#titulo {
    margin: auto;
}

#titulo >h1 {
    text-align: center;
    font-size: 3em;
    font-family: var(--font);

    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.123);
}

#menu {
    line-height: 0;
    vertical-align: middle;
    font-size: 3em;
}

#menu:hover {
    cursor: pointer;
}

div#menu-hamburguer >  ul {
    display: none;
    
}



/*Header*/



/*Banner*/
#banner {
    width: 100%;
}

#banner > div >img {
    width: 100%;
    box-shadow:2px 2px 4px 1px rgba(0, 0, 0, 0.171);

}

/*Main*/
/*Compre agora*/
#tempo {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    width: 300px;
    
}

#tempo > h1 {
    text-align: center;
    color: var(--color1);
    margin-bottom: 10px;
}

#tempo  >img {
    border-radius: 5px 5px  0px 0px;
    box-shadow: 2px 2px 19px 4px rgba(0, 0, 0, 0.171);
}

#tempo > input {
    background-color: var(--color1);
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    font-weight: 700;
}

#tempo > input:hover {
    background-color: white;
    color: var(--color1);
    border: solid 1px black;
    

    transition-duration: 1s;
}

/*Descrição*/
section#descricao {
    height: 300px;
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#descricao > div > h1 {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.123);
    color: var(--color1);
    font-weight: bolder;

    text-align: center;
    margin-bottom: 7px;

    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.123);

}

#descricao > div > p {
    text-align: justify;
    line-height: 25px;
    padding: 10px;
    text-indent: 20px;
}

/*Demostrar*/

#demostrar {
    padding: 5px;
    background-color: var(--color4);

    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow:2px 2px 4px 1px rgba(0, 0, 0, 0.171);
    
}


    


div#imagem > img {
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.329);


}

div#imagemtext {


    border-radius: 5px;
    background-color: white;
    padding: 15px;

    max-width: 350px;
}

div#imagemtext > h1 {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.034);
    color: var(--color4);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    margin: 5px 0px 5px 0px;

}

div#imagemtext > p {

    text-indent: 20px;
    line-height: 25px;
    text-align: justify;
}

/*Depoimentos*/

#depoimentos {
    margin-top: 60px;
}

#depoimentos > h1 {
    font-size: 1.7em;
    text-align: center;
    color: var(--color2);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.055);

}

#usuarios {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.pessoa {
    overflow: hidden;
    width: 300px;
    height: 150px;
    border: solid 1px var(--color4);
    border-radius: 10px;
    display: flex;
}

.img {
    width: 80%;
}

.img > img {
    width: 100%;
    height: 100%;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.205);
}
.informacoes {
    padding: 5px;

}

.informacoes > h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: var(--color1);
}

.informacoes > p {
    text-align: justify;
    text-indent: 20px;
}

/*Comprar agora*/





/*Footer*/


footer {
    background-color: var(--color3);
    color: white;
    font-weight: 600;
    padding: 10px;
    height: 200px;
}

footer > ul {
    list-style-type: none;
}

footer > ul > li {
    display: flex;
    


    margin: 10px 0;

}



footer > ul > li > p{
    font-size: 1.3em;
    margin-left: 10px;
}