@charset "UTF-8";
.carouselbuttons  {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background-color: var(--color3);
    font-weight: bolder;
    padding: 10px;
    cursor: pointer;
}

.carouselbuttons:hover {   
    border: 1px solid black;
    background-color: white;
    color: var(--color3);
    transition-duration: 1s;
}