@charset "UTF-8";
.allbuttons {
    padding: 12px;
    border-radius: 5px;
    color: white;
    font-size: 0.8em;
    background-color: var(--color2);
    cursor: pointer;
    transition: 1s;
}

.allbuttons:hover {
    
    color: var(--color2);
    background-color: white;
    outline: 2px solid var(--color2);
    outline-offset: -2px;
    
}