/*Algumas medias Queries
    320px — 480px: dispositivos móveis
    481px — 768px: iPads, tablets
    769px — 1024px: telas pequenas, laptops
    1025px — 1200px: desktops, telas grandes
    1201px e acima —  telas muito grandes, TVs
*/



@media screen and (min-width: 530px) and (max-width: 1024px) {
    #demostrar {
        display: flex;
        justify-content: center;
        height: 300px;
    }

    #container-demostrar {
        display: flex;
        flex-direction: row;
        box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.294);
        border-radius: 10px 10px 10px 10px ;
        overflow: hidden;
            
    }

    div#imagem {
        width: 50%;
        transition-duration: 3s;
    }

    div#imagem > img{
        height: 100%;
    }

    div#imagemtext {
        border-radius: 0;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    div#imagemtext > h1 {
        font-size: 1.7em;
        margin: 10px 0;
    }

    #usuarios {
        justify-content: center;
        flex-direction: row;
    }


    .pessoa {
        flex-direction: column;
        height: 350px;
        margin: 0px 15px;
        max-width: 250px;
    }

    .img {
        height: 60%;
        width: 100%;
    }
}